.fighter
  .image.center-block
    = link_to (image_tag fighter.image.url(:medium), class:'img-responsive'), fighter_path(fighter)
  = fighter.name
  = fighter.last_name
  = fighter.description
  = fighter.win
  = fighter.lose
  = fighter.experience
  - if fighter.skills.any?
    = render fighter.skills.last(8), fighter: fighter
